@charset "utf-8";

/*a {
    text-decoration: none;
    color: black;
}

/*body, html {
    width: 100%;
}*/

#container {
     box-sizing: border-box;
}

/*#container li {
    height: 50px;
}*/

.CS_page {
    background-color: rgba(206, 204, 206, 0.8);
    text-align: center;
    list-style: none;
    padding: 50px 15px;
    line-height: 1.3;
}

.clear:after {
    display: block;
    clear: both;
    content: '';
    float: none;
}

#table_row li {
    padding: 14px 0px;
    display: block;
    text-align: center;
    float: left;
    width: calc(50% - 2px);
    border: 1px solid #eee;
}

#table_row li  a {
}

#table_row li img {
    width: 30px;
    height: 30px;
    margin: 10px;
    color: #000;
}
#strong {
    font-weight: bold;
    font-size: 12px;
}*/